.end {
	height: 300vh;
	background-color: #1a1a1a;
}

.end--main {
	position: sticky;
	height: 100vh;
	top: 0;
}

.end__graphic {
	position: absolute;
	bottom: 0;
	left: 0;
}

#end__the {
	position: relative;
	bottom: calc(-85% + 17vw);
	left: calc(22% + 26vw);
	rotate: -24deg;
	display: inline-block;
	font-size: 6rem;
	font-weight: 300;
	color: #fff;
}

#root1,
#root2,
#root3 {
	stroke-dasharray: 27px;
	stroke-dashoffset: 28px;
}
