@import "./reset.css";
@import "./intro.css";
@import "./fall.css";
@import "./landing.css";
@import "./end.css";

@font-face {
	font-family: "Spline Sans";
	src: url("../font/SplineSans.woff2") format("woff2-variations");
	font-weight: 300 700;
}
@font-face {
	font-family: "Radio Canada";
	font-style: normal;
	src: url("../fonts/RadioCanada.woff2") format("woff2-variations");
	font-weight: 300 700;
	font-stretch: 75 100;
}
@font-face {
	font-family: "Radio Canada";
	font-style: italic;
	src: url("../fonts/RadioCanada-Italic.woff2") format("woff2-variations");
	font-weight: 300 700;
	font-stretch: 75 100;
}

header svg {
	color: #000;
	display: block;
	margin-inline: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 4em;
}

main {
	font-family: "Spline Sans";
}

footer {
	font-family: "Radio Canada";
	border-top: #000 dashed 0.5em;
}

footer div {
	margin-inline: auto;
	max-width: 128ch;
}
