@import "reset.css";
@import "intro.css";
@import "fall.css";

@font-face {
	font-family: "Spline Sans";
	src: url("../font/SplineSans.woff2") format("woff2-variations");
	font-weight: 300 700;
}

main {
	font-family: "Spline Sans";
}

.step {
	background-color: rgb(150, 150, 207);
	margin: 3em;
}

.landing {
	height: 200vh;
}

.end {
	height: 300vh;
}

#end__the {
	position: relative;
	display: inline-block;
	font-size: 3rem;
	font-weight: 480;
}
